body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #000;
    position: relative;
    overflow: hidden;
    color: white;
}

.starsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    animation: moveStars 20s linear infinite;
}

.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    box-shadow: var(--box-shadow);
}

@keyframes moveStars {
        0% { transform: translateX(0); }
        100% { transform: translateX(100%); }
    }

.welcome-text {
    margin-top: 80px;
    margin-left: 40px;
    padding: 30px;
    color: #6217a9;
    font-size: 48px;
    opacity: 0;
    animation: fadeInLeft 5s ease forwards;
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.projects-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.project {
    text-align: center;
}

.project img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
